.tablero-8x8 {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  gap: 2px;
}

/* Estilos para el tablero 6x6 */
.tablero-6x6 {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(6, 40px);
}

/* Estilos para las casillas */
.casilla {
  width: 39px;
  height: 39px;
  background-color: #0c58cb;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0px;
}
.ficha-blanca {
  background-color: white;
  border: 1.2px solid black;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

/* Estilos para las fichas negras */
.ficha-negra {
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.menu {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.menu-title {
  font-size: 32px;
  color: #000000;
}

/*
.menu-background {
  background-image: url('ruta-de-tu-imagen-de-fondo.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}*/


label {
  font-size: 18px;
  color: #555;
  margin-right: 10px;
}

select {
  font-size: 16px;
  padding: 5px;
}

.menu-button {
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #0056b3;
}
.menu-options {
  display: grid;
  /*grid-template-columns: 1fr 1fr; /* Divide la fila en dos columnas iguales */
  gap: 30px; /* Espacio entre las columnas */
}

.sugerencia {
  /* Estilos de la casilla sugerida cuando la sugerencia está activa */
  background-color: yellow;
  background-color:
}
